@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.header{
    margin:2%;
 
}

.paragraph{
    font-family:italic;
    font-weight:50px;
    margin-left:1%;
    margin-top:1%;
   font-size:24px;
}


img{
    float:left;
    height:70%;
    width:35%;

}

.main .tarun{
    padding:5%;
    letter-spacing:1px;
    font-family: 'Pacifico', cursive;
}